
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

  
  </head>

  <body>

    

       
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">EP3.</h2>
          <p class="lead">       Este projeto é um trabalho da máteria de Orientaão a Objetos do curso de Engenharia de software da Universidade de Brasília.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="https://canaldoensino.com.br/blog/wp-content/uploads/2015/02/unb_img.jpg" style=" height:200px; width:400px;">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Lucas Macêdo.</h2>
          <p class="lead">Aluno de engenharia de software do terceiro semestre da Universidade de Brasília</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="hfeaturette-image img-responsive center-block" src = "https://scontent.fbsb3-1.fna.fbcdn.net/v/t1.0-9/10981811_889354444443527_2912187393822724592_n.jpg?oh=9065bd76c6047b61afa1f31d9a889138&oe=58ECB36A" style=" height:300px; width:300px;">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Caio Oliveira.</h2>
          <p class="lead">Aluno de engenharia de software do terceiro semestre da Universidade de Brasília </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="https://scontent.fbsb3-1.fna.fbcdn.net/v/t1.0-0/p526x296/15181418_1280719098636308_8901796031168209671_n.jpg?oh=aa75ed6b01737d590e4d9d7437301cc9&oe=58F6BA47" style="height:300px; width:300px;">
        </div>
      </div>

      <hr class="featurette-divider">

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
