  <p id="notice"><%= notice %></p>

<h1>Games</h1>

<table>
  <thead>
    <tr>
     
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <div class="col-lg-4">
          <img class="img-square" src="<%= game.imagem%> " alt="battlefield" width="250" height="250">
          <h2><%= game.nome %></h2>
          
          <p><button type="button" class="btn btn-default"> <%= link_to 'Mostrar', game %></td></p>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br> 