  
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Carousel Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
  </head>



    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="https://content.pulse.ea.com/content/battlefield-portal/pt_BR/news/battlefield-1/melee-combat-of-Battlefield-1/_jcr_content/featuredImage/renditions/rendition1.img.jpg" style=" height:500px; width: 1500px;" alt="First slide" >
          <div class="container">
            <div class="carousel-caption">
              <h1>Battlefield 1.</h1>
              <p>Clique e veja o detalhes do jogo.</p>
              <p><a class="btn btn-lg btn-primary" href="/games/20" role="button">Veja detalhes</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" style=" height:500px; width: 1500px;" src="https://images5.alphacoders.com/394/thumb-1920-394511.jpg"  "alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>The last of us.</h1>
              <p>Clique e veja o detalhes do jogo.</p>
              <p><a class="btn btn-lg btn-primary" href="/games/19" role="button">Veja detalhes</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" style=" height:500px; width: 1500px;" src="https://1.bp.blogspot.com/-gHXl4ZR14XM/V3ZdlNc8y6I/AAAAAAAAFMU/b6jUoCybXfgQHS-dFrh1oSpg_ytLi4XqQCLcB/w1200-h630-p-nu/street-fighter-5-02.jpg"  alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Street Fight V.</h1>
              <p>Clique e veja o detalhes do jogo</p>
              <p><a class="btn btn-lg btn-primary" href="/games/23" role="button">Veja detalhes</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing" style = "margin-top: 65px" >

      <!-- Three columns of text below the carousel -->
      
      <p>
        <font size="40">
          Jogos em Destaque
      
         </font>
      </p>

      <div class="row">
        <div class="col-lg-4">
          <img class="img-square" src="http://sm.ign.com/t/ign_br/screenshot/default/tgeedeps42dpftfront-us_mz7r.640.png" alt="battlefield" width="250" height="250">
          <h2>Battlefiled 1</h2>
          
          <p><a class="btn btn-default" href="/games/20" role="button">Veja detalhes &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-square" src="http://digitaltiger.vteximg.com.br/arquivos/ids/161543/star-wars-battlefront-box-art-ps4.jpg" alt="star wars" width="250" height="250">
          <h2>Star Wars Battlefront</h2>
          
          <p><a class="btn btn-default" href="/games/21" role="button">Veja detalhes &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-square" src="http://www.sharkgames.com.br/site/wp-content/uploads/2016/08/capa-fifa-17-ps4-jony-games.jpg " alt="Fifa" width="250" height="250">
          <h2>FIFA 17</h2>
          
          <p><a class="btn btn-default" href="/games/24" role="button">Veja detalhes &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->




    

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
