<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        
        <td><h3><%= game.nome %></h3></td>
        <p>
          
        <td>
        
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-default" ><%= link_to 'Edit', edit_game_path(game) %></button>
        </td>
        
          <td>
          &nbsp;&nbsp;<button type="button" class="btn btn-default" ><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></button>
          </td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-default" >
<%= link_to 'New Game', new_game_path %>
</button>