<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @game.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @game.descricao %>
</p>

<p>
  <strong>Date:</strong>
  <%= @game.date %>
</p>

<p>
  <strong>Desenvolvedora:</strong>
  <%= @game.desenvolvedora %>
</p>

<p>
  <strong>Imagem:</strong>
     <img class="img-square" src="<%= @game.imagem%>" alt="Fifa" width="350" height="350">
</p>

<p>
  <strong>Video:</strong>
  <iframe width="500" height="340" src="<%= @game.video %>" frameborder="0" allowfullscreen></iframe>
</p>

<p>
  <strong>Genero:</strong>
  <%= @game.genero %>
</p>


<p><button type="button" class="btn btn-default"> 
<%= link_to 'Back', games_catalogo_path %></td></p>
