<!DOCTYPE html>
<html>
  <head>
    <title>LCW</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body background= "http://4.bp.blogspot.com/-gGT-68t0nQQ/Va-HuRpWMUI/AAAAAAAAILc/QtyHS9O1wLo/s1600/fundo-cinza-fundos%2B%25287%2529.jpg">

  <!-- NAVBAR



================================================== -->



<nav class="navbar navbar-inverse">

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"<%= link_to "EP3" , games_home_path %> </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Inicio" , games_home_path %></li>
        <li><%= link_to "Sobre" , games_about_path %></li>
        <li><%= link_to "Cadastro" , games_path %></li>
        <li><%= link_to "Catálogo" , games_catalogo_path %></li>
      </ul>






    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



    <%= yield %>

 
  </body>
</html>
